.product-season {
  font-size: 16px;
  color: $gold;
}

.padding {
  padding: 0 10px;
}

.product-content {
  font-size: 16px;
}

.product-producer {

  h2 {
    color: $olive;
    font-size: 20px;
    text-align: center;
  }
}

.info-window {
  padding: 5px;
  h4 {
    color: $olive;
    font-size: 12px;
  }
}
