<footer>
  <div class="footer-links">
    <a class="footer-link-item" href="#">AGB</a>
    <a class="footer-link-item" href="#">PrivatePolicy</a>
    <a class="footer-link-item" href="#">FAQ</a>
    <a class="footer-link-item" href="#">Impressum</a>
  </div>
</footer>
