.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-warning {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;

}
