footer {
  background: $olive;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  color: white;
  width: 100%;
}

.footer-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-link-item {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 14px;
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


// @media (max-width: 500px) {
//   .footer-in {
//   display: box !important;
//   height: 100px;
//   padding: 0px 50px;
//   color: white;
// }
// }
