.info-window {
  overflow: hidden;
  h4 {
    color: $olive;
    font-size: 12px;
  }
  a {
    text-decoration: none;
    color: $olive;
  }
}

.info-window-img {
  height: 50px;
  max-width: 200px;
  border-radius: 20px;
  background-color: $olive;
  object-fit: cover;
}
