.nav-tabs {
  border-bottom: 1px solid $gold;
  margin-bottom: 10px;
  color: $olive;
  a {
    color: $olive;
  }
}

.nav-tabs .nav-link {
  border: none;
  margin-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link.active {
  border: none;
  background-color: $silver;
  margin-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.category-icon {
  position: relative;
}
